#pages {
    position: relative;

    .page {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        opacity: 0;

        -webkit-transition: all .5s ease-in-out;
        -webkit-transform: translateX(100%);

        &.fadeIn {
            -webkit-transform: translateX(0%);
            opacity: 1;
        }

        &.fadeOut {
            -webkit-transform: translateX(-100%);
        }
    }
}
