html, body {
    height: 100%;
    width: 100%;
}

.pages {
    position: relative;
    height: 100%;
    width: 100%;

    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    .page {
        position: absolute;
        height: 100%;
        width: 100%;

        -webkit-transition: -webkit-transform .5s ease-in-out;
        -webkit-transform: translateX(100%);

        &.left {
            -webkit-transform: translateX(-100%);
        }

        &.center {
            -webkit-transform: translateX(0%);
        }

        &.right {
            -webkit-transform: translateX(100%);
        }
    }
}
